<%# #users/show.html.erb# %>
<h1>Détails de l'utilisateur</h1>

<p>
  <strong>Prénom :</strong>
  <%= @user.first_name %> <!-- Remplace par le champ correct si nécessaire -->
</p>
<p>
  <strong>Nom :</strong>
  <%= @user.last_name %> <!-- Remplace par le champ correct si nécessaire -->
</p>
<p>
  <strong>Description :</strong>
  <%= @user.description %> <!-- Remplace par le champ correct si nécessaire -->
</p>
<p>
  <strong>Email :</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Âge :</strong>
  <%= @user.age %>
</p>
<p>
  <strong>Ville :</strong>
  <%= link_to @user.city.name, city_path(@user.city) if @user.city %></p>
</p>