<%# #gossips/edit.html.erb# %>
<h1>Éditer le potin</h1>

<%= form_with(model: @gossip, local: true) do |form| %>
  <div>
    <%= form.label :title, "Titre" %><br>
    <%= form.text_field :title, value: @gossip.title %>
  </div>
  <div>
    <%= form.label :content, "Contenu" %><br>
    <%= form.text_area :content, value: @gossip.content %>
  </div>
  <div>
    <%= form.submit "Mettre à jour" %>
  </div>
<% end %>
